{% extends 'base.html' %}
{%block title%} 自定义接口 {% endblock %}
{% block content %}
		<div style="margin: 15px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>生成自定义接口</legend>
			</fieldset>


			<form class="layui-form" action="/interface/create/" method="POST">

				<div class="layui-form-item">
					<label class="layui-form-label">请求接口名</label>
					<div class="layui-input-block">
						<input type="text" name="interface_name" lay-verify="title" autocomplete="off" placeholder="请输入一个名字 如:T点接口" class="layui-input">
					</div>
				</div>

                <div class="layui-form-item">
					<label class="layui-form-label">接口path</label>
					<div class="layui-input-block">
						<input type="text" name="url_info" lay-verify="title" autocomplete="off" placeholder="如：tpoint/test.do" class="layui-input">
					</div>
				</div>

                <div class="layui-form-item">
					<label class="layui-form-label">请求类型</label>
					<div class="layui-input-block">
						<input type="text" name="request_type" lay-verify="title" autocomplete="off" placeholder="类型说明1:该接口来源过滤2：返回指定结果3：继续请求JAVA获取JAVA结果4：继续请求JAVA返回指定结果" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">超时时间</label>
					<div class="layui-input-block">
						<input type="text" name="timeout" lay-verify="title" autocomplete="off" placeholder="请输入一个数字 ps:单位秒" class="layui-input">
					</div>
				</div>


				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">返回值</label>
					<div class="layui-input-block">
						<textarea  name = "return_value"  placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>

				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
		{% load static %}
		<script type="text/javascript" src="{%static 'sign/new_admin/plugins/layui/layui.js'%}"></script>
		<script>
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form(),
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor');
				//自定义验证规则
				form.verify({
					title: function(value) {
						if(value.length < 5) {
							return '标题至少得5个字符啊';
						}
					},
					pass: [/(.+){6,12}$/, '密码必须6到12位'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});

				//监听提交
				form.on('submit(demo1)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})
					return false;
				});
			});
		</script>
{% endblock %}
