{% extends 'base.html' %}
{% block title %} Get List {% endblock %}
{% block content1 %}
		{% load static %}
		<link rel="stylesheet" href="{%static 'sign/new_admin/plugins/layui/css/layui.css'%}" media="all" />
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/global.css'%}" media="all">
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/table.css'%}" />
        <script src="{%static 'admin/js/echarts.js'%}"></script>
 {% endblock %}
{% block content %}
    <!-- 第一个图表 -->
    <div id="first" style="width: 600px;height:400px;"></div>
    <!-- 第二个图表 -->
    <div id="second" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
// ------配置图表1，各个性化图表配置方法详见官网-----
    var firstChart = ec.init(document.getElementById("first"));
    var option = {
        title: {
                text: '测试'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: (function(){
                    $.ajax({
                        type:"post",
                        url:"bar/ajax_dict",
                        dataType:"json",
                        success:function()
                    });
                }
            }]
        };
    };
    firstChart.setOption(option);

// -----配置图表2-----
    var secondChart = ec.init(document.getElementById("second"));
    option={
        title: {
                text: '测试1'
            },
            tooltip: {},
            legend: {
                data:['销量1']
            },
            xAxis: {
                data: ["衬衫1","羊毛衫1","雪纺衫1","裤子1","高跟鞋1","袜子1"]
            },
            yAxis: {},
            series: [{
                name: '销量1',
                type: 'bar',
                data: (function(){
                    $.ajax({
                        type:"post",
                        url:"bar/ajax_dict",
                        dataType:"json",
                        success:function()
                    });
                }
            }]
        };
    };
    secondChart.setOption(option);
</script>
{% endblock %}
