{% extends 'base.html' %}
{% block title %} Index {% endblock %}
{% block content1 %}
		{% load static %}
		<link rel="stylesheet" href="{%static 'sign/new_admin/plugins/layui/css/layui.css'%}" media="all" />
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/global.css'%}" media="all">
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/table.css'%}" />
        <script src="{%static 'admin/js/echarts.js'%}"></script>

 {% endblock %}
{% block content %}
    <!-- 第一个图表 -->
    <div id="first" style="width: 1000px;height:400px;"></div>
    <!-- 第二个图表 -->
    <div id="second" style="width: 1000px;height:400px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('first'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '占用磁盘最大的5个目录'
            },
            tooltip: {},
            legend: {
                data:['单位byte']
            },
            xAxis: {
                {% autoescape off %}
                data: {{name_value}}
                {% endautoescape %}
            },
            yAxis: {},
            series: [{
                name: '大小',
                type: 'bar',
                data: {{ size_value}}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>


{% endblock %}
