{% extends 'base.html' %}
{%block title%} 接口配置创建 {% endblock %}
{% block content %}
		<div style="margin: 15px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>接口配置</legend>
			</fieldset>

<form method="post">
    <table class="formdata">
    <caption>接口文档配置</caption> <!--/*标题*/-->

    <div class="layui-form-item">
					<label class="layui-form-label">接口地址</label>
					<div class="layui-input-block">
						<input type="text"  name="url" lay-verify="title" autocomplete="off" placeholder="请输入一个url地址" class="layui-input">
					</div>
    </div>

    <tr>
        <th></th> <!--/*行标题*/-->
        <th scope="col">字段名</th>
        <th scope="col">字段类型</th>
        <th scope="col">字段长度</th>
        <th scope="col">是否为空</th>
    </tr>

<tr>
    <th scope="row"></th>  <!--/*列标题*/-->
    <td><input type="text" name="harddisk2004" id="harddisk2004"/></td>
    <td><input type="text" name="harddisk2005" id="harddisk2005"/></td>
    <td><input type="text" name="harddisk2006" id="harddisk2006"/></td>
    <td><input type="text" name="harddisk2007" id="harddisk2007"/></td>
</tr>






</table>
</form>


		</div>
		{% load static %}
		<script type="text/javascript" src="{%static 'sign/new_admin/plugins/layui/layui.js'%}"></script>
		<script>
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form(),
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor');
				//自定义验证规则
				form.verify({
					title: function(value) {
						if(value.length < 5) {
							return '标题至少得5个字符啊';
						}
					},
					pass: [/(.+){6,12}$/, '密码必须6到12位'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});

				//监听提交
				form.on('submit(demo1)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})
					return false;
				});
			});
		</script>
{% endblock %}
