{% extends 'base.html' %}
{%block title%} 资产配置修改 {% endblock %}
{% block content %}
		<div style="margin: 15px;">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>资产配置修改</legend>
			</fieldset>
            {% for value in property_info %}
			<form class="layui-form" action="/env/property/update/" method="POST">
                {% csrf_token %}
				<div class="layui-form-item">
					<label class="layui-form-label">机器型号</label>
					<div class="layui-input-block">
						<input type="text" readonly = "readonly" name="model" lay-verify="title" autocomplete="off" value={{ value.model }} placeholder={{ value.model }} class="layui-input">
					</div>
				</div>


				<div id ="div1" class="layui-form-item">
					<label class="layui-form-label">机器版本</label>
					<div class="layui-input-block">
						<input type="text" name="version" lay-verify="title" autocomplete="off" value={{ value.version }} placeholder={{ value.version }} class="layui-input">
					</div>
				</div>

				<div id ="div2" class="layui-form-item layui-form-text">
					<label class="layui-form-label">所属人</label>
					<div class="layui-input-block">
						<input  name = "from_people" readonly = "readonly" value={{ value.from_people }} placeholder={{ value.from_people }} class="layui-input" >
					</div>
				</div>
                <div id ="div3" class="layui-form-item layui-form-text">
					<label class="layui-form-label">当前使用者</label>
					<div class="layui-input-block">
						<input  name = "now_people" value={{ value.now_people }}  placeholder={{ value.now_people }} class="layui-input">
					</div>
				</div>


				<input type=hidden name=id value={{ value.id }}>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>

			</form>
        {% endfor %}
		</div>
		{% load static %}
		<script type="text/javascript" src="{%static 'sign/new_admin/plugins/layui/layui.js'%}"></script>
		<script>
			layui.use(['form', 'layedit', 'laydate'], function() {
				var form = layui.form(),
					layer = layui.layer,
					layedit = layui.layedit,
					laydate = layui.laydate;

				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor');
				//自定义验证规则
				form.verify({
					title: function(value) {
						if(value.length < 5) {
							return '标题至少得5个字符啊';
						}
					},
					pass: [/(.+){6,12}$/, '密码必须6到12位'],
					content: function(value) {
						layedit.sync(editIndex);
					}
				});

				//监听提交
				form.on('submit(demo1)', function(data) {
					layer.alert(JSON.stringify(data.field), {
						title: '最终的提交信息'
					})
					return false;
				});
			});
		</script>
{% endblock %}
