{% extends 'base.html' %}
{% block title %} Get List {% endblock %}
{% block content1 %}
		{% load static %}
		<link rel="stylesheet" href="{%static 'sign/new_admin/plugins/layui/css/layui.css'%}" media="all" />
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/global.css'%}" media="all">
		<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
		<link rel="stylesheet" href="{%static 'sign/new_admin/css/table.css'%}" />
	    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">//<![CDATA[
    $(function () {
        $('#connect_websocket').click(function () {
            if (window.s) {
                window.s.close()
            }
            /*创建socket连接*/
            //var socket = new WebSocket("ws://" + window.location.host + "/http/echo");
            var socket = new WebSocket($('#socket_url').val());
            socket.onopen = function () {
                console.log('WebSocket open');//成功连接上Websocket
            };
            socket.onmessage = function (e) {
                console.log('message: ' + e.data);//打印出服务端返回过来的数据
                $('#messagecontainer').prepend('<p>' + e.data + '</p>');
            };
            // Call onopen directly if socket is already open
            if (socket.readyState == WebSocket.OPEN) socket.onopen();
            window.s = socket;
        });
        $('#send_message').click(function () {
            //如果未连接到websocket
            if (!window.s) {
                alert("websocket未连接.");
            } else {
                window.s.send($('#message').val());//通过websocket发送数据
            }
        });
        $('#close_websocket').click(function () {
            if (window.s) {
                window.s.close();//关闭websocket
                console.log('websocket已关闭');
            }
        });

    });
    //]]></script>
 {% endblock %}
{% block content %}
<br>
	<input type="text" id="socket_url" name="socket_url"   placeholder="输入socket地址">
	<button type="button" id="connect_websocket">连接 websocket</button><br>
	<input type="text" id="message" placeholder="Hello, World!"/><br>
	<button type="button" id="send_message">发送 message</button><br>
	<button type="button"  id="close_websocket">关闭 websocket</button><br>
	<style>
		textarea#text-test
		{
			width:400px;
			height:600px;
			float:right;
			background-color:#686868
		}
		button#conn_socket
		{
			width:100%;
			height: 100%;
		}

</style>
	<h1>Received Messages</h1>



<div id="messagecontainer">
</div>

{% endblock %}

